<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All players</title>
</head>
<body>

<form th:action = "@{/players/redactor}" method="GET">
    <button type="submit">Add player</button>
</form>

<form th:action = "@{/players/remover}" th:method="DELETE">
    <input type="text" class="form-control" id="lastName_delete" placeholder="lastName"
           pattern="^[a-zA-Z]+$"
           required
           name="lastName">
    <button type="submit">Delete player</button>
</form>


<form th:action = "@{/players/editor}" th:method="POST">
    <input type="text" class="form-control" id="lastName_update" placeholder="lastName"
           pattern="^[a-zA-Z]+$"
           required
           name="lastName">
    <button type="submit">Update player</button>
</form>

<div id = "content">
    <table class="datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Team</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${players.empty}">
            <td colspan="2"> No players</td>
        </tr>
        <tr th:each="player: ${players}">
            <td><span th:text="${player.name}"></span></td>
            <td><span th:text="${player.lastName}"></span></td>
            <td><span th:text="${player.age}"></span></td>
            <td><span th:text="${player.team.name}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>