<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All teams</title>
</head>
<body>

<form th:action = "@{/teams/redactor}" method="GET">
    <button type="submit">Create team</button>
</form>

<form th:action ="@{/teams/player-to-team}" method="get">

    <button type="submit">Update team with new player</button>
</form>

<form th:action = "@{/teams/remover}" th:method="DELETE">
    <input type="text" class="form-control" id="teamName_delete" placeholder="teamName"
           pattern="^[a-zA-Z]+$"
           required
           name="teamName">
    <button type="submit">Delete team</button>
</form>

<div id = "content">
    <table class="datatable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Players</th>
        </tr>
        </thead>

        <tbody>
        <tr th:if="${teams.empty}">
            <td colspan="2"> No players</td>
        </tr>
        <tr th:each="team: ${teams}">
            <td><span th:text="${team.name}"></span></td>
            <td><span th:text="${team.players}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>