<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">

    <p th:if="${alreadyExists}"  class="alert alert-info" role="alert">User already exists or no such team</p>
    <p th:if="${error}"  class="alert alert-info" role="alert">Error in data</p>
    <form th:action ="@{/players/creator}" method="post">


        <label for="name"> Name </label>
        <input type="name" class="form-control" id="name"
               required
               pattern="^[a-zA-Z]+$"
               name="name">

        <label for="lastName"> Last Name </label>
        <input type="lastName" class="form-control" id="lastName"
               required
               pattern="^[a-zA-Z]+$"
               name="lastName">

        <label for="age"> Age </label>
        <input type="age" class="form-control" id="age"
               required
               name="age">

        <label for="team"> Team(if you want player to be without team - enter 'f/a') </label>
        <input type="team" class="form-control" id="team"
               pattern="^[a-zA-Z/0-9]+$"
               required
               name="team">


        <button type="submit">Ok</button>
    </form>

</div>

</body>
</html>